
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <f:for each="{mainnavigation}" as="mainnavigationItem">
                <f:if condition="{mainnavigationItem.children}">
                    <f:then>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {mainnavigationItem.title}
                            </a>
                            <ul class="dropdown-menu">
                                <f:for each="{mainnavigationItem.children}" as="child">
                                    <li><a class="dropdown-item" href="{child.link}" target="{child.target}">{child.title}</a></li>
                                </f:for>
                            </ul>
                        </li>
                    </f:then>
                    <f:else>
                        <li class="nav-item">
                            <a class="nav-link active" href="{mainnavigationItem.link}" target="{mainnavigationItem.target}">{mainnavigationItem.title}</a>
                        </li>
                    </f:else>
                </f:if>
            </f:for>
        </ul>
      </div>
    </div>
  </nav>
<f:render section="Main" />
